<ion-header>
  <ion-toolbar>
    <ion-title>Caderneta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="aluno-infos">
    <!-- <div class="avatar">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
    </div> -->
    <div class="inf">
        <ion-item>
          <ion-label>
            Nome: {{ aluno.nome }}
          </ion-label>
          <ion-icon name="information-circle" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>
            Data de Nascimento: {{ aluno.dataNascimento | date: 'dd/MM/yyyy' }}
          </ion-label>
          <ion-icon name="calendar" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>
            Endereço: {{ aluno.logradouro }}
          </ion-label>
          <ion-icon name="pin" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>
            Bairro: {{ aluno.bairro }}
          </ion-label>
          <ion-icon name="pin" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>
            Cidade: {{ aluno.cidade }}
          </ion-label>
          <ion-icon name="pin" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>
            Estado: {{ aluno.estado }}
          </ion-label>
          <ion-icon name="compass" slot="start"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>
            Status: {{ aluno.status ? 'Ativo' : 'Inativo' }}
          </ion-label>
          <ion-icon name="heart" slot="start"></ion-icon>
        </ion-item>
    </div>
  </div>

</ion-content>
